<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365764280966-ikam93gmduahm16dqi714bqnfe9noafb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365764280966-ikam93gmduahm16dqi714bqnfe9noafb</string>
	<key>API_KEY</key>
	<string>AIzaSyCNQuJGxZmBM6fE0wRehrVnP4JX3vQR99c</string>
	<key>GCM_SENDER_ID</key>
	<string>365764280966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tw.robertwang.mynotes</string>
	<key>PROJECT_ID</key>
	<string>robert-flutter-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>robert-flutter-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365764280966:ios:eecbe3bf5c7c530a310707</string>
</dict>
</plist>